$paynes-gray: #405d72;
$poppy: #da2c38;
$cordovan: #8c4843;
$keppel: #44bba4;
$slate-gray: #758694;
$french-gray: #aaaeb2;
$timberwolf: #dfd5cf;
$champagne-pink: #f7e7dc;
$seashell: #fff8f3;
$forest-green: #168423;
$azure-web: #F5FEFF;
$majorelle-blue: #5542FF;
$davys-gray: #595959;
$hues: #fff2fc, #fff2fa, #fff2f8, #fff2f6, #fff2f3, #fff3f2, #fff5f2, #fff8f3,
  #fffaf2, #fffcf2, #fffef2, #fefff2, #fcfff2, #f9fff2, #f7fff2;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: radial-gradient($hues...);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

$font-family-sans-serif: "Inter", sans-serif;

$display-font-weight: 600;

$display-font-sizes: (
  1: 4.5rem,
  2: 4rem,
  3: 3.5rem,
  4: 3rem,
  5: 2.5rem,
  6: 2rem,
) !default;

$primary: $majorelle-blue;
$secondary: $davys-gray;
$body-bg: $azure-web;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

a {
  text-decoration: none;
}
